<div class="main">
  <div class="container">
    <div class="pokemon">
      <h2>この愚民が処刑されました。</h2>
      <h2>得票数：<%= @voted_max %>票</h2>
      <% @killed_users.each do |user| %>
        <div class="character-icon">
          <%= link_to image_tag("#{user.image}"), "#" %>
          <p><%= user.name %></p>
        </div>
      <% end %>
    </div>
    <div class="btn">
      <%= link_to '結果を見る', users_result_path, class:"square_btn" %>
    </div>
  </div>
</div>
