<div class="main">
  <div class="container">
    <div class="btn-margin-top">
      <%= link_to image_tag("google.gif"), 'http://www.google.co.jp/', class:"google" %>
    </div>
  </div>
</div>
