<div class="top_title">
  <h1>新感覚・人狼ゲーム</h1>
  <%= image_tag '/wolf.jpg' %>
</div>
<h2>WordWolf</h2>
<p>-Majority vs Minority-</p>
<%= link_to '始める', 'users/new', class:"square_btn" %>
<%= link_to 'ルール', 'http://www.google.co.jp/', class:"square_btn" %>
