<div class="top_title">
  <h2>WordWolf</h2>
  <p>-Majority vs Minority-</p>
  <%= image_tag '/wolf.jpg' %>
</div>

<%= link_to '始める', 'users/new', class:"square_btn" %>
<%= link_to 'ルール', 'http://www.google.co.jp/', class:"square_btn" %>
