<div class="main">
  <div class="container">
    <h2>WordWolf</h2>
    <p>-Majority vs Minority-</p>
    <div class="btn">
      <%= link_to '始める', users_path, class:"square_btn" %>
      <%= link_to 'ルール', 'http://www.google.co.jp/', class:"square_btn" %>
    </div>
  </div>
</div>
